body{
  background-color: #C4DDE6;
}
.box3{
  width:800px;
  height:300px;
  border:  2.5px solid black;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 200px;
  left: 300px;
}
h3{
  text-indent: 2em;
}
h2{
  text-indent: 1em;
}
.box4{
  font-size: 18px;
  position: absolute;
  top: 160px;
  left: 10px;
}
.box5{
  font-size: 18px;
position: absolute;
top:160px;
left:100px;
}
.box6{
  font-size: 18px;
position: absolute;
top:160px;
left:170px;
}
